# Visual Studio
.vs/

# Build results
x64/Debug/
x64/Release/

# User-specific files
*.user

# Visual Studio C++ cache files
*.VC.db
*.VC.VC.opendb

# Precompiled headers
ipch/
*.pch

# Object files
obj/

# Logs
*.log
*.tlog
